@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,body{
  width: 100%;
	height: 100%;
	margin: 0;
	border: 1px solid #ddd;
}
.wrapper{
  overflow:hidden;
  position:relative;
}
img{
  width: 100%;
}
.logo  img{
  width: 100%;
  height: 100%;
}
.l-text-area {
    position: absolute;
    top: 0.4%;
    width: 100%;
    height: 100%;
}
.l-text-area > .header {
    color: white;
    font-size: 4vw;
    font-family: Montserrat;
    line-height: 22px;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-align: center;
}
.l-text-area > .logo {
    width: 44vw;
    height: 13vw;
    margin: auto;
    padding-top: 4%;
}
.l-text-area > .main {
    font-family: Montserrat;
    font-size: 8vw;
    color: white;
    height: 6vw;
    width: 100vw;
    padding-top: 5%;
    letter-spacing: -0.01em;
    text-align: center;
    margin: auto;
}
.l-text-area > .subheading {
    text-align: center;
    padding-top: 18%;
    font-size: 7vw;
    color: white;
    font-family: Georgia;
    font-style: italic;
    letter-spacing: -0.01em;
    font-weight: normal;
}
.l-text-area > .footer {
    padding-top: 15%;
}
.main-cta {
    width: 86vw;
    height: 14vw;
    display: block;
    border: 1px solid white;
    text-align: center;
    line-height: 14vw;
    background-color: white;
    margin: auto;
}
.main-cta:link, .main-cta:active, .main-cta:visited, .main-cta:hover, .main-cta:focus {
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    font-size: 5vw;
    letter-spacing: 0.05em;
}