#mydiv 
{
  text-align: center;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.row
{
  width:292px;
  border-style: solid;
}
.row > span{
    font-size : 20px;
    font-weight : bold;
    color: black;
}

.tm{
	margin-top : 10px;
}

#img
{
  width: 100%;
}
/* Pulse */
@-webkit-keyframes pulse {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; 
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2; 
  }

  /* Buzz Out */
@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }

.buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: buzz-out;
    animation-name: buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
   }


/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: wobble-vertical;
    animation-name: wobble-vertical;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2; }

@-webkit-keyframes skew {
  25% {
  -webkit-transform: skewX(-15deg); 
  transform: skew(-15deg); 
  }
  50% {
    -webkit-transform: skewX(0deg); 
    transform: skew(0deg);
     }
  75% { 
    -webkit-transform: skewX(-15deg);
    transform: skew(-15deg);
     }
}
@keyframes skew {
  25% {
  -webkit-transform: skewX(-15deg); 
  transform: skew(-15deg); 
  }
  50% {
    -webkit-transform: skewX(0deg); 
    transform: skew(0deg);
     }
  75% { 
    -webkit-transform: skewX(-15deg);
    transform: skew(-15deg);
     }
  }


.skew {
 display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: skew;
  animation-name: skew;
   -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; 
     }
@-webkit-keyframes rotate {
  11%
  {
    -webkit-transform: rotate(10deg); 
    transform: rotate(10deg); 
  }
  22%
  {
    -webkit-transform: rotate(25deg); 
    transform: rotate(25deg); 
  }
  33%
  {
    -webkit-transform: rotate(40deg); 
    transform: rotate(40deg); 
  }
  44% {
  -webkit-transform: rotate(50deg); 
  transform: rotate(50deg); 
  }
  55%{
  -webkit-transform: rotate(30deg); 
  transform: rotate(30deg); 
}

  66% {
    -webkit-transform: rotate(50deg); 
    transform: rotate(50deg);
     }
  77% { 
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  88%
  {
  -webkit-transform: rotate(0deg); 
  transform: rotate(0deg); }
}
@keyframes rotate {
  11%
  {
    -webkit-transform: rotate(10deg); 
    transform: rotate(10deg); 
  }
  22%
  {
    -webkit-transform: rotate(25deg); 
    transform: rotate(25deg); 
  }
  33%
  {
    -webkit-transform: rotate(40deg); 
    transform: rotate(40deg); 
  }
  44% {
  -webkit-transform: rotate(50deg); 
  transform: rotate(50deg); 
  }
  55%{
  -webkit-transform: rotate(30deg); 
  transform: rotate(30deg); 
}

  66% {
    -webkit-transform: rotate(50deg); 
    transform: rotate(50deg);
     }
  77% { 
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  88%
  {
  -webkit-transform: rotate(0deg); 
  transform: rotate(0deg); }
  }
.rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-property: transform;
  animation-property: transform;
-webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-delay: 1s;
   }
  /*.rotate:hover, .rotate:focus, .rotate:active {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }*/

